::selection {
	background: rgba(220, 220, 220);
	}

@font-face {
    font-family: 'SpaceGroteskText';
    src: url('SpaceGrotesk-Regular.otf') format('opentype');
    src: url('SpaceGrotesk-Regular.woff') format('woff');
    src: url('SpaceGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0px;
}

a:link, a:visited, a:hover, a:active {
	color: white;
}

button{
	/*position: fixed;
	top: 50%;
	margin-left: 94%;*/
	border: none;
}

button:focus {
	outline: 0;
}

iframe { 
    width: 100%; 
    height: 100%; 
    border: none; 
}

#header {
	z-index: 1;
	font-family: 'SpaceGroteskText';
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	float: left;
	background-color: rgb(15, 15, 15);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 0px;
	width: 100%;
	height: 12vw;
	overflow: hidden;
}

.title{

	/*font-size: 8.4vw;*/
	font-size: 6vw;
  	float: left;
  	margin-left: 2vw;
  	margin-right: 2vw;

	/*color: rgba(255, 255, 255);
	font-size: 30px;
	top: -20px;
	letter-spacing: 0.5px;
	position: fixed;
	padding-left: 30px;
	margin-top: 30px;*/
}

.underName {
  	font-size: 3.8vw;
  	float: left;
  	padding: 2.5px;
  	margin-top: -1vw;
  	margin-left: 2vw;
  	margin-right: 2vw;
}

#infoButton{
	background-color: rgba(15, 15, 15);
	color: rgba(255, 255, 255);
	font-family: "SpaceGroteskText";
	font-size: 6vw;
	text-align: right;
	float: right;
}

#credits{
	top: 12vw;
  	width: 97%;
  	height: 87vh;
  	position: absolute;
  	float: center;
  	text-align: center;
}

.colonna {
	color: black;
	font-family: "SpaceGroteskText";
	font-size: 6vw;
	text-align: left;
	float: left;
	width: 100%;
	padding: 15px;
	height: auto;
	overflow: scroll;
}

.rotate{
	transition-duration: 1s;
	transform: rotate(45deg);
}

.hidden{
	display: none!important;
}

#main{
 	top: 12vw;
  	width: 100%;
  	height: 85vh;
    position: relative;
}

.colonna_video {
	color: white;
	font-family: "SpaceGroteskText";
	font-size: 4vw;
	text-align: center;
	float: center;
	width: 100%;
	padding: 15px;
	height: auto;
}
